/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

.counter-value {
    font-size: 70px;
    font-family: Orbitron;
    color: #0163aa; /* same as the default button color */
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}  
.range-label {
    margin-bottom: -20px; 
    font-size: 16px;
}