/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
ion-label {
    font-size: 70px ;
    font-family: "Orbitron", sans-serif;
  }